# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: v2
name: opensearch
version: 0.0.52
description: A Helm chart for the OpenSearch operator
type: application
maintainers:
- name: timojohlo
- name: kuckkuck
- name: joluc
home: https://github.com/sapcc/helm-charts/tree/master/system/opensearch-operator
sources:
  - https://github.com/opensearch-project/opensearch-k8s-operator
appVersion: v3.4.0
dependencies:
  - name: opensearch-operator
    alias: operator
    repository: https://opensearch-project.github.io/opensearch-k8s-operator/
    version: 2.8.0
  - name: opensearch-cluster
    alias: cluster
    repository: https://opensearch-project.github.io/opensearch-k8s-operator/
    version: 3.1.0
  - name: opensearch-cluster
    alias: siem
    repository: https://opensearch-project.github.io/opensearch-k8s-operator/
    version: 3.1.0
    condition: siem.enabled
