{{ if and .Values.thanosParquetGateway.convert.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  labels:
    {{- include "plugin.labels" . | nindent 4 }}
    {{- include "thanosParquetGateway.labels" . | nindent 4 }}
    {{- if .Values.thanosParquetGateway.convert.deploymentLabels }}
    {{- toYaml .Values.thanosParquetGateway.convert.deploymentLabels | nindent 4 }}
    {{- end }}
  name: {{ include "release.name" . }}-convert
spec:
  replicas: {{ default 1 .Values.thanosParquetGateway.convert.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/managed-by: {{ include "release.name" . }}
      app.kubernetes.io/name: convert
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      {{- if .Values.thanosParquetGateway.convert.annotations }}
      annotations:
        {{ toYaml .Values.thanosParquetGateway.convert.annotations | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/managed-by: {{ include "release.name" . }}
        app.kubernetes.io/name: convert
        {{- if .Values.thanosParquetGateway.convert.containerLabels }}
        {{ toYaml .Values.thanosParquetGateway.convert.containerLabels | nindent 8 }}
        {{- end }}
      name: {{ include "release.name" . }}-convert
    spec:
      containers:
      - name: convert
        args:
        - convert
        - --tsdb.objstore-config-file=/etc/config/{{ include "thanosParquetGateway.objectStoreConfigFile" . }}
        - --parquet.objstore-config-file=/etc/config/{{ include "thanosParquetGateway.objectStoreConfigFile" . }}
        {{- range .Values.thanosParquetGateway.convert.args.sortingLabels }}
        - --convert.sorting.label={{ . }}
        {{- end }}
        {{- range .Values.thanosParquetGateway.convert.additionalArgs }}
        - {{ . }}
        {{- end }}
        image: "{{ .Values.thanosParquetGateway.image.repository }}:{{ .Values.thanosParquetGateway.image.tag }}"
        imagePullPolicy: {{ default "IfNotPresent" .Values.thanosParquetGateway.image.pullPolicy }}
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /-/healthy
            port: 10902
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 5
        {{- with .Values.thanosParquetGateway.convert.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: 10902
          name: http
          protocol: TCP
        - containerPort: 10901
          name: grpc
          protocol: TCP
        readinessProbe:
          failureThreshold: 2
          httpGet:
            path: /-/ready
            port: 10902
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 5
        volumeMounts:
        - mountPath: /etc/config/
          name: objectstore-secret
          readOnly: true
        - mountPath: /data
          name: data
      initContainers:
      - name: init-permissions
        {{- $registry := .Values.global.imageRegistry | default .Values.thanosParquetGateway.initChownData.image.registry -}}
        {{- if .Values.thanosParquetGateway.initChownData.image.sha }}
        image: "{{ $registry }}/{{ .Values.thanosParquetGateway.initChownData.image.repository }}:{{ .Values.thanosParquetGateway.initChownData.image.tag }}@sha256:{{ .Values.thanosParquetGateway.initChownData.image.sha }}"
        {{- else }}
        image: "{{ $registry }}/{{ .Values.thanosParquetGateway.initChownData.image.repository }}:{{ .Values.thanosParquetGateway.initChownData.image.tag }}"
        {{- end }}
        command: ['sh', '-c', 'chown 1000:3000 /data && chmod 750 /data']
        securityContext:
          runAsUser: 0
        volumeMounts:
        - mountPath: /data
          name: data
      restartPolicy: Always
      securityContext:
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000
      volumes:
      - name: objectstore-secret
        secret:
          defaultMode: 420
          secretName: {{ include "thanos-parquet-gateway.objectStoreSecretName" . }}
      - name: data
        emptyDir: {}
{{ end }}
