{{ if .Values.additionalScrapeConfigs.namespaceLookup.enabled }}
{{- $namespaces := lookup "v1" "Namespace" "" "" }}
{{- $regex := .Values.additionalScrapeConfigs.namespaceLookup.regex }}
{{- $prometheusName := .Values.additionalScrapeConfigs.namespaceLookup.prometheusName }}
{{- if $namespaces }}
{{- $targets := list }}
{{- range $namespaces.items }}
{{- if regexMatch $regex .metadata.name }}
{{- $targets = append $targets (printf "%s.%s.svc:80" $prometheusName .metadata.name) }}
{{- end }}
{{- end }}
{{- if $targets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $prometheusName }}-scrape-confg
  namespace: {{ template "kube-prometheus-stack.namespace" $ }}
  labels:
    app: {{ template "kube-prometheus-stack.name" $ }}-prometheus-scrape-confg
{{ include "kube-prometheus-stack.labels" $ | indent 4 }}
data:
  additional-scrape-configs.yaml: {{ include "kubeMonitoring.additionalScrapeConfigsYaml" (list $targets) | b64enc | quote }}
{{- end }}
{{- end }}
{{- end }}
