# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: genericexternalmemberproviders.githubguard.sap
spec:
  group: githubguard.sap
  names:
    kind: GenericExternalMemberProvider
    listKind: GenericExternalMemberProviderList
    plural: genericexternalmemberproviders
    singular: genericexternalmemberprovider
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: GenericExternalMemberProvider is the Schema for HTTP based external
          member providers
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              GenericExternalMemberProviderSpec contains HTTP configuration for generic providers
              Secret may contain username/password or token.
            properties:
              endpoint:
                type: string
              idField:
                type: string
              pageParam:
                type: string
              paginated:
                type: boolean
              resultsField:
                type: string
              secret:
                type: string
              totalPagesField:
                type: string
              testConnectionURL:
                type: string
            type: object
          status:
            properties:
              error:
                type: string
              state:
                type: string
              timestamp:
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
