# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

{{- $root := . -}}
{{- if and .Values.kafka.enabled .Values.monitoring.enabled }}
{{- range $path, $bytes := .Files.Glob "alerts/kafka-cluster.yaml" }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ printf "%s-%s" $.Release.Name ($path | trimSuffix ".yaml") | replace "/" "-" | trunc 63 }}
  labels:
    {{- include "kafka.labels" $ | nindent 4 }}
    {{- if $.Values.monitoring.additionalRuleLabels }}
    {{- toYaml $.Values.monitoring.additionalRuleLabels | nindent 4 }}
    {{- end }}
spec:
{{ tpl (printf "%s" $bytes) $root | indent 2 }}
{{- end }}
{{- end }}
{{- if and .Values.kafka.enabled .Values.monitoring.enabled }}
{{- range $path, $bytes := .Files.Glob "alerts/kafka-operator.yaml" }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ printf "%s-%s" $.Release.Name ($path | trimSuffix ".yaml") | replace "/" "-" | trunc 63 }}
  labels:
    {{- include "kafka.labels" $ | nindent 4 }}
spec:
{{ tpl (printf "%s" $bytes) $root | indent 2 }}
{{- end }}
{{- end }}
