# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

# -- Common labels to apply to all resources
commonLabels:

auditLogs:

  collectorImage:
    # -- overrides the default image repository for the OpenTelemetry Collector image.
    repository: ghcr.io/cloudoperators/opentelemetry-collector-contrib
    # -- overrides the default image tag for the OpenTelemetry Collector image.
    tag: "ddc58e7"

  # -- Custom labels to apply to all OpenTelemetry related resources
  customLabels:
  # -- Cluster label for Logging
  cluster:
  # -- Region label for Logging
  region:
  logsCollector:
    # -- Activates the standard configuration for Logs.
    enabled: true
    auditd:
      # -- Activates the ingestion of auditd logs.
      enabled: true
  openSearchLogs:
    # -- Endpoint URL for OpenSearch
    endpoint:
    # -- Name for OpenSearch index
    index:
    # -- Username for OpenSearch endpoint
    failover_username_a:
    # -- Password for OpenSearch endpoint
    failover_password_a:
    # -- Activates the failover mechanism for shipping logs using the failover_username_band failover_password_b credentials in case the credentials failover_username_a and failover_password_a have expired.
    failover:
      enabled: true
    # -- Second Username (as a failover) for OpenSearch endpoint
    failover_username_b:
    # -- Second Password (as a failover) for OpenSearch endpoint
    failover_password_b:
  elastic:
    # -- Activates the configuration for Elastic.
    enabled: false
    # -- Endpoint URL for Elastic
    endpoint:
    # -- TLS certificate for Elastic
    tls:
      crt: 
      key: 
    # -- Labels to be added to Elastic logs
    labels: []


  prometheus:
    # -- Activates the service-monitoring for the Logs Collector.
    podMonitor:
      enabled: false
    # -- Activates the pod-monitoring for the Logs Collector.
    serviceMonitor:
      enabled: false

    # -- Label selectors for the Prometheus resources to be picked up by prometheus-operator.
    additionalLabels: {}
    # plugin: kube-monitoring
    # prometheus: infra

    # -- Default rules for monitoring the opentelemetry components.
    rules:
      # -- Enables PrometheusRule resources to be created.
      create: true

      # -- Labels for PrometheusRules.
      labels: {}

      ## This is useful for adding additional labels such as "support_group" or "service" for the routing of alerts to each rule
      # -- Additional labels for PrometheusRule alerts.
      additionalRuleLabels:
        # support_group: support
        # service: my-service
