{{ if and .Values.thanosParquetGateway.serve.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  labels:
    {{- include "plugin.labels" . | nindent 4 }}
    {{- include "thanosParquetGateway.labels" . | nindent 4 }}
    {{- if .Values.thanosParquetGateway.serve.deploymentLabels }}
    {{- toYaml .Values.thanosParquetGateway.serve.deploymentLabels | nindent 4 }}
    {{- end }}
  name: {{ include "release.name" . }}-serve
spec:
  replicas: {{ default 1 .Values.thanosParquetGateway.serve.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/managed-by: {{ include "release.name" . }}
      app.kubernetes.io/name: serve
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      {{- if .Values.thanosParquetGateway.serve.annotations }}
      annotations:
        {{ toYaml .Values.thanosParquetGateway.serve.annotations | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/managed-by: {{ include "release.name" . }}
        app.kubernetes.io/name: serve
        {{- if .Values.thanosParquetGateway.serve.containerLabels }}
        {{ toYaml .Values.thanosParquetGateway.serve.containerLabels | nindent 8 }}
        {{- end }}
      name: {{ include "release.name" . }}-serve
    spec:
      # initContainers:
      #   - name: init-permissions
      #     {{- $registry := .Values.global.imageRegistry | default .Values.thanosParquetGateway.initChownData.image.registry -}}
      #     {{- if .Values.thanosParquetGateway.initChownData.image.sha }}
      #     image: "{{ $registry }}/{{ .Values.thanosParquetGateway.initChownData.image.repository }}:{{ .Values.thanosParquetGateway.initChownData.image.tag }}@sha256:{{ .Values.thanos.initChownData.image.sha }}"
      #     {{- else }}
      #     image: "{{ $registry }}/{{ .Values.thanosParquetGateway.initChownData.image.repository }}:{{ .Values.thanosParquetGateway.initChownData.image.tag }}"
      #     {{- end }}
      #     command: ['sh', '-c', 'chown 1000:3000 /tmp && chmod 750 /tmp']
      #     volumeMounts:
      #     - mountPath: /tmp
      #       name: tmp
      #     securityContext:
      #       runAsUser: 0
      # securityContext:
      #   runAsUser: 1000
      #   runAsGroup: 3000
      #   fsGroup: 2000
      # initContainers:
      # - name: init-sleep
      #   image: busybox
      #   command: ['sh', '-c', 'sleep 300000']
      containers:
      - name: serve
        command: ["/bin/sh", "-c"]
        args:
        - |
          cp /bin/thanos-parquet-gateway /tmp/thanos-parquet-gateway
          cd /tmp
          /tmp/thanos-parquet-gateway serve --parquet.objstore-config-file=/etc/config/store_config.yaml \
          --logger.level=DEBUG --http.internal.port=6060 --http.prometheus.port=9090 --http.thanos.port=9091 \
          --block.syncer.interval=1m --block.syncer.concurrency=32 --block.discovery.interval=1m \
          --block.discovery.concurrency=32 --query.external-label=prometheus=my-prometheus \
          --query.external-label=replica=ha-1
        # - serve
        # - --logger.level=DEBUG
        # - --parquet.objstore-config-file=/etc/config/store_config.yaml
        # - --http.internal.port={{ default 6060 .Values.thanosParquetGateway.serve.internalPort }}
        # - --http.prometheus.port={{ default 9090 .Values.thanosParquetGateway.serve.prometheusPort }}
        # - --http.thanos.port={{ default 9091 .Values.thanosParquetGateway.serve.thanosPort }}
        # - --block.syncer.interval={{ default "30m" .Values.thanosParquetGateway.serve.syncerInterval }}
        # - --block.syncer.concurrency={{ default 32 .Values.thanosParquetGateway.serve.syncerConcurrency }}
        # - --block.discovery.interval={{ default "30m" .Values.thanosParquetGateway.serve.discoveryInterval }}
        # - --block.discovery.concurrency={{ default 32 .Values.thanosParquetGateway.serve.discoveryConcurrency }}
        # - --query.external-label=prometheus={{ default "my-prometheus" .Values.thanosParquetGateway.serve.externalLabelPrometheus }}
        # - --query.external-label=replica={{ default "ha-1" .Values.thanosParquetGateway.serve.externalLabelReplica }}
        {{- range .Values.thanosParquetGateway.serve.additionalArgs }}
        - {{ . }}
        {{- end }}
        image: "{{ .Values.thanosParquetGateway.image.repository }}:{{ .Values.thanosParquetGateway.image.tag }}"
        imagePullPolicy: {{ default "IfNotPresent" .Values.thanosParquetGateway.image.pullPolicy }}
        env:
        - name: TMPDIR
          value: /tmp
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /-/healthy
            port: {{ default 6060 .Values.thanosParquetGateway.serve.internalPort }}
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 5
        {{- with .Values.thanosParquetGateway.serve.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: {{ default 9090 .Values.thanosParquetGateway.serve.prometheusPort }}
          name: http
          protocol: TCP
        - containerPort: {{ default 9091 .Values.thanosParquetGateway.serve.thanosPort }}
          name: grpc
          protocol: TCP
        readinessProbe:
          failureThreshold: 2
          httpGet:
            path: /-/ready
            port: {{ default 6060 .Values.thanosParquetGateway.serve.internalPort }}
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 5
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        - name: data
          mountPath: /data
        - mountPath: /etc/config/
          name: objectstore-secret
          readOnly: true
      volumes:
      - name: tmp
        emptyDir:
          sizeLimit: 2Gi
      - name: data
        emptyDir:
          sizeLimit: 10Gi
      - name: objectstore-secret
        secret:
          defaultMode: 420
          secretName: {{ include "release.name" . }}-serve
{{ end }}
