{{ if and .Values.thanos.ruler.alertmanagers.enabled .Values.thanos.ruler.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: thanos-ruler-{{ include "release.name" . }}-alertmanager-config
  labels:
    {{- include "plugin.labels" . | nindent 4 }}
    {{- include "thanos.labels" . | nindent 4 }}
data:
  alertManagerConfig.yaml: |
    {{ include "alertmanagers.config" . | indent 4 | b64enc }}
{{ end }}
