{{- if and .Values.thanos.query.enabled .Values.thanos.query.persesDatasource.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-%s" $.Release.Name "perses-datasource" }}
  labels:
    {{- include "plugin.labels" . | nindent 4 }}
    {{- include "thanos.labels" . | nindent 4 }}
    {{- with .Values.thanos.query.persesDatasource.selector }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
data:
  {{ printf "%s-%s" $.Release.Name "perses-datasource.json" }}: |
    {
      "kind": "GlobalDatasource",
      "metadata": {
        "name": "{{ printf "%s-%s" $.Release.Name "query" }}",
      },
      "spec": {
        "default": {{ .Values.thanos.query.persesDatasource.isDefault }},
        "plugin": {
          "kind": "PrometheusDatasource",
          "spec": {
            "proxy": {
              "kind": "HTTPProxy",
              "spec": {
                "url": "{{ printf "http://%s-query.%s.svc:10902/thanos" $.Release.Name $.Release.Namespace }}"
              }
            }
          }
        }
      }
    }
{{- end }}
