apiVersion: v2
description: This chart deploys the essential components for monitoring Kubernetes clusters.
icon: https://raw.githubusercontent.com/prometheus/prometheus.github.io/master/assets/prometheus_logo-cb55bb5c346.png
type: application
maintainers:
  - name: richardtief
  - name: viennaa
  - name: trouaux
name: kube-monitoring
sources:
  - https://github.com/cloudoperators/greenhouse-extensions
version: 10.4.1
keywords:
  - operator
  - prometheus
  - kube-prometheus
dependencies:
  - name: kube-prometheus-stack
    alias: kubeMonitoring
    repository: https://prometheus-community.github.io/helm-charts
    version: 81.1.0
  - name: kubernetes-operations
    repository: https://cloudoperators.github.io/kubernetes-operations
    version: 1.2.7
  - name: prometheus-blackbox-exporter
    alias: blackboxExporter
    repository: https://prometheus-community.github.io/helm-charts
    version: 11.7.0
    condition: blackboxExporter.enabled
