{{- if .Values.certManager.enable }}
# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ .Values.certManager.issuer.selfSigned.name }}
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ .Values.certManager.issuer.ca.name }}
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  ca:
    secretName: opensearch-ca-cert
{{- if .Values.siem.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: opensearch-siem-ca-issuer
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  ca:
    secretName: opensearch-siem-ca-cert
{{- end }}
{{- end }}
