{{- if and .Values.siem.enabled .Values.certManager.enable }}
# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: opensearch-siem-ca-cert
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  isCA: true
  commonName: opensearch-siem-ca
  duration: {{ .Values.certManager.defaults.durations.ca }}
  issuerRef:
{{ toYaml .Values.certManager.issuer.selfSigned | indent 4 }}
  privateKey:
{{ toYaml .Values.certManager.defaults.privateKey | indent 4 }}
  secretName: opensearch-siem-ca-cert
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: opensearch-siem-transport-cert
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  commonName: opensearch-siem-transport
  duration: {{ .Values.certManager.defaults.durations.leaf }}
  issuerRef:
    name: opensearch-siem-ca-issuer
    kind: Issuer
  privateKey:
{{ toYaml .Values.certManager.defaults.privateKey | indent 4 }}
  secretName: opensearch-siem-transport-cert
  dnsNames:
    - opensearch-siem
    - opensearch-siem-discovery
    - {{ printf "opensearch-siem.%s" .Release.Namespace }}
    - {{ printf "opensearch-siem.%s.svc" .Release.Namespace }}
    - {{ printf "opensearch-siem.%s.svc.cluster.local" .Release.Namespace }}
  usages:
{{ toYaml .Values.certManager.defaults.usages | indent 4 }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: opensearch-siem-admin-cert
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  commonName: siem-admin
  duration: {{ .Values.certManager.defaults.durations.leaf }}
  issuerRef:
    name: opensearch-siem-ca-issuer
    kind: Issuer
  privateKey:
{{ toYaml .Values.certManager.defaults.privateKey | indent 4 }}
  secretName: opensearch-siem-admin-cert
  usages:
{{ toYaml .Values.certManager.defaults.usages | indent 4 }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: opensearch-siem-http-cert
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  duration: {{ .Values.certManager.defaults.durations.leaf }}
  issuerRef:
    name: opensearch-siem-ca-issuer
    kind: Issuer
  privateKey:
{{ toYaml .Values.certManager.defaults.privateKey | indent 4 }}
  secretName: opensearch-siem-http-cert
  dnsNames:
    - opensearch-siem
    - {{ printf "opensearch-siem.%s" .Release.Namespace }}
    - {{ printf "opensearch-siem.%s.svc" .Release.Namespace }}
    - {{ printf "opensearch-siem.%s.svc.cluster.local" .Release.Namespace }}
  usages:
{{ toYaml .Values.certManager.defaults.usages | indent 4 }}

{{- if .Values.siem.cluster.ingress.opensearch.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: opensearch-siem-http-cert-external
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  duration: {{ .Values.certManager.defaults.durations.leaf }}
  issuerRef:
{{ toYaml .Values.certManager.issuer.digicert | indent 4 }}
  privateKey:
{{ toYaml .Values.certManager.defaults.privateKey | indent 4 }}
  secretName: opensearch-siem-http-cert-external
  dnsNames:
{{ toYaml .Values.siem.certManager.httpDnsNames | indent 4 }}
  usages:
{{ toYaml .Values.certManager.defaults.usages | indent 4 }}
{{- end }}

{{- if .Values.siem.cluster.ingress.dashboards.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: opensearch-siem-dashboards-cert-external
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opensearch.labels" . | nindent 4 }}
spec:
  duration: {{ .Values.certManager.defaults.durations.leaf }}
  issuerRef:
{{ toYaml .Values.certManager.issuer.digicert | indent 4 }}
  privateKey:
{{ toYaml .Values.certManager.defaults.privateKey | indent 4 }}
  secretName: opensearch-siem-dashboards-cert-external
  dnsNames:
{{ toYaml .Values.siem.certManager.dashboardsDnsNames | indent 4 }}
  usages:
{{ toYaml .Values.certManager.defaults.usages | indent 4 }}
{{- end }}
{{- end }}
