# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

# Default values for exposed-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: mendhak/http-https-echo
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "37"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}


service:
  type: ClusterIP
  port: 8080

owner-info:
  support-group: containers
  maintainers:
    - Fabian Ruff
    - Arno Uhlig
  helm-chart-url: https://github.com/cloudoperators/greenhouse-extensions/tree/main/exposed-services
