# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

{{- if .Values.genericExternalMemberProviders }}
{{- range $idx, $gep := .Values.genericExternalMemberProviders }}
apiVersion: githubguard.sap/v1
kind: GenericExternalMemberProvider
metadata:
  name: {{ $gep.name | required "genericExternalMemberProviders[].name is required" }}
spec:
  endpoint: {{ $gep.endpoint | required "genericExternalMemberProviders[].endpoint is required" }}
  secret: {{ printf "%s-genericext-secret" (lower $gep.name) }}
  {{- if $gep.idField }}
  idField: {{ $gep.idField }}
  {{- end }}
  {{- if $gep.resultsField }}
  resultsField: {{ $gep.resultsField }}
  {{- end }}
  {{- if hasKey $gep "paginated" }}
  paginated: {{ $gep.paginated }}
  {{- end }}
  {{- if $gep.pageParam }}
  pageParam: {{ $gep.pageParam }}
  {{- end }}
  {{- if $gep.totalPagesField }}
  totalPagesField: {{ $gep.totalPagesField }}
  {{- end }}
  {{- if $gep.testConnectionURL }}
  testConnectionURL: {{ $gep.testConnectionURL }}
  {{- end }}
---
{{- if or $gep.username $gep.password }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-genericext-secret" (lower $gep.name) }}
type: Opaque
data:
  username: {{ $gep.username | default "" | b64enc }}
  password: {{ $gep.password | default "" | b64enc }}
---
{{- end }}
{{- end }}
{{- end }}
