# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

{{- range $githubKey, $githubItem := .Values.githubs }}
  {{- if $githubItem.organizations }}
    {{- range $idx, $org := $githubItem.organizations }}
      {{- if $org.teams }}
        {{- range $tidx, $team := $org.teams }}
apiVersion: githubguard.sap/v1
kind: GithubTeam
metadata:
  name: {{ $githubKey }}--{{ $org.organization | replace "/" "-" | lower }}--{{ $team.name | replace "_" "-" | replace " " "-" | lower }}
  labels:
    githubguard.sap/addUser: "{{ $team.addUsers | default "true" }}"
    githubguard.sap/removeUser: "{{ $team.removeUsers | default "true" }}"
    {{- if eq ($org.disableInternalUsernames | default "false") "true" }}
    githubguard.sap/disableInternalUsernames: "true"
    {{- end }}
    {{- if eq ($org.requireOSMPCheck | default "false") "true" }}
    githubguard.sap/require-osmp-check: "true"
    {{- end }}
spec:
  {{- if or $team.distributionListID $team.ldapGroup $team.ldap $team.genericHTTP $team.static }}
  externalMemberProvider:
    {{- if $team.distributionListID }}
    distributionList:
      distributionListAPI: "{{ $.Values.distributionListAPI.name }}"
      distributionListID: {{ $team.distributionListID }}
    {{- end }}
    {{- if $team.ldapGroup }}
    ldapGroup:
      ldapGroupProvider: "{{ $.Values.ldap.name }}"
      group: {{ $team.ldapGroup }}
    {{- end }}
    {{- if $team.ldap }}
    ldap:
      {{- if $team.ldap.provider }}
      provider: {{ $team.ldap.provider }}
      {{- else if $.Values.ldap.name }}
      provider: "{{ $.Values.ldap.name }}"
      {{- end }}
      group: {{ $team.ldap.group }}
    {{- end }}
    {{- if $team.genericHTTP }}
    genericHTTP:
      provider: {{ $team.genericHTTP.provider }}
      group: {{ $team.genericHTTP.group }}
    {{- end }}
    {{- if $team.static }}
    static:
      provider: {{ $team.static.provider }}
      group: {{ $team.static.group }}
    {{- end }}
  {{- end }}
  github: {{ $githubKey }}
  organization: {{ $org.organization }}
  team: {{ $team.name }}
  {{- if $team.greenhouseTeam }}
  greenhouseTeam: {{ $team.greenhouseTeam }}
  {{- end }}
---
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
