# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

{{ if .Values.manager.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "repo-guard.fullname" . }}-manager-role
  labels:
  {{- include "repo-guard.labels" . | nindent 4 }}
rules:
  # Main githubguard resources with full CRUD-ish verbs
  - apiGroups:
      - githubguard.sap
    resources:
      - githuborganizations
      - githubs
      - githubteams
      - distributionlistapis
      - ldapgroupproviders
      - opensourcemanagementportalapis
      - githubaccountlinks
      - genericexternalmemberproviders
      - staticmemberproviders
    verbs:
      - get
      - list
      - patch
      - update
      - watch

  # Finalizers for those resources (update only)
  - apiGroups:
      - githubguard.sap
    resources:
      - githuborganizations/finalizers
      - githubs/finalizers
      - githubteams/finalizers
      - distributionlistapis/finalizers
      - ldapgroupproviders/finalizers
      - opensourcemanagementportalapis/finalizers
      - genericexternalmemberproviders/finalizers
      - staticmemberproviders/finalizers
    verbs:
      - update

  # Status subresources
  - apiGroups:
      - githubguard.sap
    resources:
      - githuborganizations/status
      - githubs/status
      - githubteams/status
      - distributionlistapis/status
      - ldapgroupproviders/status
      - opensourcemanagementportalapis/status
      - genericexternalmemberproviders/status
      - staticmemberproviders/status
    verbs:
      - get
      - patch
      - update

  # Read-only githubguard resources
  - apiGroups:
      - githubguard.sap
    resources:
      - githubteamrepositories
      - githubusernames
    verbs:
      - get
      - list
      - watch

  # Core secrets
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch

  # Greenhouse teams
  - apiGroups:
      - greenhouse.sap
    resources:
      - teams
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "repo-guard.fullname" . }}-manager-rolebinding
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: repo-guard
    app.kubernetes.io/part-of: repo-guard
  {{- include "repo-guard.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "repo-guard.fullname" . }}-manager-role'
subjects:
  - kind: ServiceAccount
    name: '{{ include "repo-guard.fullname" . }}-controller-manager'
    namespace: '{{ .Release.Namespace }}'
{{ end }}
