# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

{{ if .Values.manager.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "repo-guard.fullname" . }}-controller-manager
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: repo-guard
    app.kubernetes.io/part-of: repo-guard
  {{- include "repo-guard.labels" . | nindent 4 }}
{{ end }}
