# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

{{- if .Values.staticMemberProviders }}
{{- range $idx, $smp := .Values.staticMemberProviders }}
apiVersion: githubguard.sap/v1
kind: StaticMemberProvider
metadata:
  name: {{ $smp.name | required "staticMemberProviders[].name is required" }}
spec:
  {{- if $smp.groups }}
  groups:
    {{- range $gIdx, $grp := $smp.groups }}
    - group: {{ $grp.group | required "staticMemberProviders[].groups[].group is required" }}
      {{- if $grp.members }}
      members:
        {{- range $mIdx, $m := $grp.members }}
        - {{ $m }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
---
{{- end }}
{{- end }}
