# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company and Greenhouse contributors
# SPDX-License-Identifier: Apache-2.0

kind: Deployment
apiVersion: apps/v1
metadata:
  name: absent-metrics-operator
spec:
  revisionHistoryLimit: 5
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 2
  selector:
    matchLabels:
      name: absent-metrics-operator
  template:
    metadata:
      labels:
        name: absent-metrics-operator
        {{- with .Values.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/targets: "kubernetes"
    spec:
      serviceAccount: absent-metrics-operator
      serviceAccountName: absent-metrics-operator
      containers:
        - name: operator
          image: "{{ .Values.image.registry}}/{{ .Values.image.repository}}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          args:
            - --prom-rule-name={{ .Values.promRuleName }}
          resources:
            requests:
              cpu: "20m"
              memory: "100Mi"
          ports:
            - name: metrics
              containerPort: 9659
