# All alert severities are set to 'info' for setup only.
groups:
  - name: kafka-cluster
    interval: 30s
    rules:
      - alert: KafkaBrokerDown
        expr: up{job=~".*kafka.*"} == 0
        for: 10m
        labels:
          severity: info
          playbook: https://github.com/cloudoperators/greenhouse-extensions/tree/main/kafka/playbooks/KafkaBrokerDown.md
          {{- include "kafka.alert-labels" . | nindent 10 }}
        annotations:
          summary: "Kafka broker is down"
          description: "Kafka broker {{`{{ $labels.instance }}`}} has been down for more than 10 minutes"

      - alert: KafkaUnderReplicatedPartitions
        expr: kafka_server_replicamanager_underreplicatedpartitions > 0
        for: 15m
        labels:
          severity: info
          playbook: https://github.com/cloudoperators/greenhouse-extensions/tree/main/kafka/playbooks/KafkaUnderReplicatedPartitions.md
          {{- include "kafka.alert-labels" . | nindent 10 }}
        annotations:
          summary: "Kafka has under-replicated partitions"
          description: "Kafka cluster {{`{{ $labels.cluster }}`}} has {{`{{ $value }}`}} under-replicated partitions for more than 15 minutes"

      - alert: KafkaOfflinePartitions
        expr: kafka_controller_kafkacontroller_offlinepartitionscount > 0
        for: 5m
        labels:
          severity: info
          playbook: https://github.com/cloudoperators/greenhouse-extensions/tree/main/kafka/playbooks/KafkaOfflinePartitions.md
          {{- include "kafka.alert-labels" . | nindent 10 }}
        annotations:
          summary: "Kafka has offline partitions"
          description: "Kafka cluster {{`{{ $labels.cluster }}`}} has {{`{{ $value }}`}} offline partitions for more than 5 minutes"

      - alert: KafkaHighMemoryUsage
        expr: (kafka_server_brokertopicmetrics_messagesinpersec / 1024 / 1024) > 1000
        for: 20m
        labels:
          severity: info
          playbook: https://github.com/cloudoperators/greenhouse-extensions/tree/main/kafka/playbooks/KafkaHighMemoryUsage.md
          {{- include "kafka.alert-labels" . | nindent 10 }}
        annotations:
          summary: "High Kafka message rate"
          description: "Kafka broker {{`{{ $labels.instance }}`}} has high message rate ({{`{{ $value }}`}} MB/s) for more than 20 minutes"
