apiVersion: v1
kind: Secret
type: Opaque

metadata:
  name: tls-secret
  labels:
  {{- include "plugin.labels" . | nindent 4 }}
  {{- if .Values.auditLogs.customLabels }}
  {{ toYaml .Values.auditLogs.customLabels | nindent 4 }}
  {{- end }}

data:
  tls.crt: {{ .Values.auditLogs.elastic.tls.crt | b64enc | quote }}
  tls.key: {{ .Values.auditLogs.elastic.tls.key | b64enc | quote }}
