name: Package Helm Chart and publish to GitHub Packages

on:
  pull_request:
    types:
      - labeled
      - closed
      - unlabeled
      - synchronize

env:
  REGISTRY: ghcr.io
  ACTIONS_RUNNER_DEBUG: false
  PR_NUMBER: ${{ github.event.number }}

jobs:
  helm-release:
    permissions:
      packages: write
      contents: read
    runs-on: [ ubuntu-latest ]
    if: contains(github.event.pull_request.labels.*.name,'pr-build-chart')
    strategy:
      fail-fast: false
      matrix:
        include:
          - chartDir: alerts/charts
            chartName: alerts
          - chartDir: audit-logs/charts
            chartName: audit-logs
          - chartDir: cert-manager/charts
            chartName: cert-manager
          - chartDir: exposed-services/charts/v1.0.0/exposed-service
            chartName: exposed-services
          - chartDir: exposed-services/charts/v2.0.0/exposed-service
            chartName: exposed-services
          - chartDir: kafka/chart
            chartName: kafka
          - chartDir: kube-monitoring/charts
            chartName: kube-monitoring
          - chartDir: kubeconfig-generator/chart
            chartName: kubeconfig-generator
          - chartDir: logshipper/chart
            chartName: logshipper
          - chartDir: openbao/charts/openbao
            chartName: openbao
          - chartDir: opensearch/chart
            chartName: opensearch
          - chartDir: logs/charts
            chartName: logs
          - chartDir: perses/charts
            chartName: perses
          - chartDir: plutono/charts
            chartName: plutono
          - chartDir: service-proxy/charts/1.0.0/service-proxy
            chartName: service-proxy
          - chartDir: thanos/charts
            chartName: thanos
          - chartDir: repo-guard/charts
            chartName: repo-guard
          - chartDir: shoot-grafter/charts
            chartName: shoot-grafter

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
            fetch-depth: 0
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "v3.19.2"

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
            python-version: '3.x'
            check-latest: true
            token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: |
            ${{ matrix.chartDir }}/**

      - name: Log into registry ${{ env.REGISTRY }}
        if: steps.changed-files.outputs.all_changed_files != ''
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Charts to GHCR
        if: steps.changed-files.outputs.all_changed_files != ''
        run: |
          helm package ${{ matrix.chartDir }} -d ${{ matrix.chartDir }} --version ${{ env.PR_NUMBER }}-pr
          PKG_NAME=`ls ${{ matrix.chartDir }}/*.tgz`
          helm push ${PKG_NAME} oci://${{ env.REGISTRY }}/${{ github.repository }}/charts/

  cleanup-pr-tag:
    permissions:
      packages: write
    if: contains(github.event.pull_request.labels.*.name,'cleanup-pr-chart') || github.event_name.types == 'closed'
    runs-on: [ ubuntu-latest ]
    steps:
        - name: Delete PR container image tag
          uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1
          with:
            tags: ${{ env.PR_NUMBER }}-pr
            packages: ${{ github.event.repository.name }}/charts/*
            expand-packages: true
            token: ${{ secrets.CLOUDOPERATOR_REPO_WRITE_DELETE_TOKEN }}
