name: Trigger Hugo Workflow

on:
  workflow_dispatch: {}
  push:
    branches:
        - main
    paths:
      - '**/README.md'

jobs:
  trigger:
    runs-on: [ ubuntu-latest ]

    steps:
      - name: Generate GitHub App Token
        id: github-app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.CLOUDOPERATOR_APP_ID }}
          private-key: ${{ secrets.CLOUDOPERATOR_APP_PRIVATE_KEY }}
          permission-actions: write
          owner: ${{ github.repository_owner }}
          repositories: | 
            greenhouse
      - name: Trigger Hugo Workflow in Greenhouse Repository
        run: |
          repo_name="greenhouse"  
          event_type="trigger-workflow" 
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ steps.github-app-token.outputs.token }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository_owner }}/$repo_name/dispatches \
            -d "{\"event_type\": \"$event_type\"}"
